Given:
Progress summary= {{ progress_summary }}
user={{ username }}
subject={{ subject_name }}
topic={{ topic_name}}

Get book contents from the database and then Generate a study guide for subject and topic.
The study style will be {{ study_guide_style }} and the person will read it.
It should be about 1 page long or 5 minutes long depending on style provided.